.custom-topbar ul{
    list-style: none;
    position: fixed;
    top:0;
    right: 0;
    z-index: 999;
    padding: 0;    
    padding-right: 5px;
    margin: 0;
}

.custom-topbar ul li{
    padding: 0;
    margin: 0;
    display: inline-block;
}

.custom-topbar ul a{    
    display: block;
    padding: 10px 10px;
    margin: 0;
}